h1{
    margin-top: 30px;
}

#guide{
    border: 1px solid black;
    margin-bottom: 5px;
}

#vote_system{
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
}

#arrow{
    min-width: 20px;
    max-width: 20px;
    min-height: 20px;
    max-height: 20px;
}

body{
    background-color: #1b1d1f;
    color: whitesmoke;
}

#guide_content{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

#register{
    display: flex;
    flex-direction: column;
    align-items: center;
}

textarea{
    width: 500px;
    height: 300px;
}

#app{
    margin-top: 20px;
    margin-left: 20px;
}

.title{
    color: whitesmoke;
    font-weight: 500; 
    font-size: 24px;
}

h4{
    color: whitesmoke;
}

.points_author{
    margin-bottom: auto;
    color: #a8a8a8 !important;
}