<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ktGuide/style.css' %}">
    <title>Document</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/ktGuide/index" id="logo">
            {% load static %}
            <img  src="{% static 'ktGuide/KTG.png' %}">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/ktGuide/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/ktGuide/makeGuide">Make Guide<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Stuff
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/ktGuide/myprofile">My Profile</a>
                        <a class="dropdown-item" href="#">My Guide</a>
                    </div>
                </li>
                <li>
                    <a class="nav-link" href="/ktGuide/login_page">Login</a>
                </li>
                <li>
                    <a class="nav-link" href="/ktGuide/register">Register</a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <div>
                <a>Logged in as {{request.user}}</a>
                <a class="btn btn-outline-danger" href="/ktGuide/logout_page">Logout</a>
            </div>
            {% endif %}
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Guides" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
    </nav>
    <div id="app">
        <h2>Army & Title</h2>
        <div id="guide_army">
            <label>Army:</label>
            <select v-model="selected_army_id" v-on:change="getUnits" :disabled="selected_army_id != ''">
                <option value="">Select an Army</option>
                {% for army in army_list %}
                <option value="{{ army.id }}">{{ army.name }}</option>
                {% endfor %}
            </select>
            <label>Title:</label>
            <input type="text" v-model="guide_title">
        </div>
        <h2>Units</h2>
        <div id="guide_unit_add">
            <label>Name: </label>
            <input type="text" v-model="selected_unit_name">
            <label>Unit: </label>
            <select v-model="selected_unit_id" v-on:change="getUnitStuff">
                <option value="">Select a unit</option>
                <option v-for="unit in display_units" v-bind:value="unit.id">[[ unit.name ]]</option>
            </select>
            <label>Weapon: </label>
            <select v-model="selected_weapon_id">
                <option value="">Select a Weapon</option>
                <option v-for="weapon in weapons" v-bind:value="weapon.id">[[ weapon.name ]]</option>
            </select>
            <label>Specialist: </label>
            <select v-model="selected_specialist_id">
                <option value="">Select a Specialist</option>
                <option v-for="specialist in specialists" v-bind:value="specialist.id">[[ specialist.name ]]</option>
            </select>
            <button v-on:click="addUnit">Add Unit</button>
        </div>
        <p v-if="message">[[message]]</p>
        <table>
            <tr>
                <th>Name</th>
                <th>Unit Type</th>
                <th>Weapon</th>
                <th>Specialist</th>
            </tr>
            <tr v-for="(unit, index) in guide_presentable">
                <th>[[unit.name]]</th>
                <th>[[unit.unit]]</th>
                <th>[[unit.weapon]]</th>
                <th>[[unit.specialist]]</th>
                <th><button v-on:click="removeUnit(index)">Remove Unit</button></th>
            </tr>
        </table>
        <h2>Strategy</h2>
        <textarea v-model="guide_bio"></textarea>
        <button v-on:click="submitGuide">Submit</button>
    </div>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN'
        let app = new Vue({
            el: '#app',
            delimiters: ['[[',']]'],
            data: {
                selected_army_id: '',
                selected_unit_id: '',
                selected_weapon_id: '',
                selected_specialist_id: '',
                selected_unit_name: '',
                guide_bio: '',
                guide_title: '',
                message: '',
                display_units: [],
                weapons: [],
                specialists: [],
                guide_units: [],
                guide_presentable: []
            },
            methods: {
                getUnits: function() {
                    axios({
                        method: 'get',
                        url: '{% url "ktGuide:get_units" %}',
                        params: {
                            army_id: this.selected_army_id
                        }
                    }).then(response => {
                        this.selected_unit_id = '',
                        this.display_units = response.data.units
                    })
                },
                getUnitStuff: function() {
                    axios({
                        method: 'get',
                        url: '{% url "ktGuide:get_unit_stuff" %}',
                        params:{
                            unit_id: this.selected_unit_id
                        }
                    }).then(response => {
                        this.selected_specialist_id = '',
                        this.specialists = response.data.specialists,
                        this.selected_weapon_id = '',
                        this.weapons = response.data.weapons
                    })
                },
                addUnit: function() {
                    if(this.selected_unit_name.length > 50){
                        this.message = 'The units name is too long! (Max 50 characters)'
                    }else if(this.selected_unit_name && this.selected_unit_id && this.selected_weapon_id && this.selected_specialist_id){
                        this.guide_units.push({'name': this.selected_unit_name, 'unit': this.selected_unit_id, 'weapon': this.selected_weapon_id, 'specialist': this.selected_specialist_id})
                        this.message = ''
                        axios({
                            method: 'get',
                            url: '{% url "ktGuide:get_presentable" %}',
                            params:{
                                unit_name: this.selected_unit_name,
                                unit_id: this.selected_unit_id,
                                unit_weapon_id: this.selected_weapon_id,
                                unit_specialist_id: this.selected_specialist_id
                            }
                        }).then(response => {
                            this.guide_presentable.push({'name': response.data.name, 'unit': response.data.unit, 'weapon': response.data.weapon, 'specialist': response.data.specialist})
                        })
                    }else{
                        this.message = 'Please enter unit data into all fields!'
                    }
                },
                removeUnit: function(index) {
                    this.guide_units.splice(index, 1)
                    this.guide_presentable.splice(index, 1)
                },
                submitGuide: function() {
                    if(this.guide_bio.length > 10000)
                    {
                        this.message = 'The guide length is too long! (Max 10000 Characters!)'
                    }
                    else{
                        this.message = ''
                        axios({
                            method: 'post',
                            url: '{% url "ktGuide:submit_guide" %}',
                            data: {
                                army: this.selected_army_id,
                                title: this.guide_title,
                                units: this.guide_units,
                                text: this.guide_bio
                            },
                        }).then(response => {
                            this.selected_army_id= '',
                            this.selected_unit_id= '',
                            this.selected_weapon_id= '',
                            this.selected_specialist_id= '',
                            this.selected_unit_name= '',
                            this.guide_bio= '',
                            this.guide_title= '',
                            this.message= '',
                            this.display_units= [],
                            this.weapons= [],
                            this.specialists= [],
                            this.guide_units= [],
                            this.guide_presentable= []
                            window.location = "/ktGuide/view_guide/" + response.data
                        })
                    }
                }
            }
        })
    </script>
</body>
</html>