<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ktGuide/style.css' %}">
    {% load static %}
    <link rel="shortcut icon" type="img" href="{% static 'ktGuide/skull_favicon.png' %}">
    <title>View Guide</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a href="/ktGuide/index" id="logo">
            {% load static %}
            <img  src="{% static 'ktGuide/KTG.png' %}">
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/ktGuide/index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ktGuide/makeGuide">Make Guide</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    My Stuff
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/ktGuide/myprofile">My Profile</a>
                        <a class="dropdown-item" href="#">My Guide</a>
                    </div>
                </li>
                <li>
                    <a class="nav-link" href="/ktGuide/login_page">Login</a>
                </li>
                <li>
                    <a class="nav-link" href="/ktGuide/register">Register</a>
                </li>
            </ul>
            {% if request.user.is_authenticated %}
            <div>
                <a>Logged in as {{request.user}}</a>
                <a class="btn btn-danger" href="/ktGuide/logout_page">Logout</a>
            </div>
            {% endif %}
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search Guides" aria-label="Search">
                <button class="btn btn-success" type="submit">Search</button>
            </form>
          </div>
    </nav>
    <div id="guide_content">
        <div class="header_v_guide">
            <div>
                {% if guide.army.name == 'Necrons' %}
                    {% load static %}
                    <img src="{% static 'ktGuide/necronImage.png' %}" alt="Necron Icon">
                    {% elif guide.army.name == 'Harlequins' %}
                    {% load static %}
                    <img src="{% static 'ktGuide/harlequinImage.png' %}" alt="Harlequin Icon">
                {% endif %}
                <a class="title_v_guide">{{ guide.title }}</a>
            </div>
            <div>
                <a>{{ guide.point_value }} points | Author: {{ guide.author.username }} | Date Created: {{ guide.date_created }}</a>
            </div>
        </div>
        <div class="table-responseive">
        <table>
            <tr>
                <th scope="row" class="section-odd">Name</th>
                <td class="section-even">Unit</td>
                <td class="section-odd">M</td>
                <td class="section-even">WS</td>
                <td class="section-odd">BS</td>
                <td class="section-even">S</td>
                <td class="section-odd">T</td>
                <td class="section-even">W</td>
                <td class="section-odd">A</td>
                <td class="section-even">Ld</td>
                <td class="section-odd">Sv</td>
                <td class="section-even">Max</td>
                <td class="section-odd">Role</td>
                <td class="section-even">Weapon</td>
                <td class="section-odd">Points</td>
            
            </tr>
            {% for unit in list_of_units %}
            <tr>
                <th scope="row" class="section-odd">{{unit.name}}</th>
                <td class="section-even">{{unit.unit}}</td>
                <td class="section-odd">{{unit.unit.m}}</td>
                <td class="section-even">{{unit.unit.ws}}</td>
                <td class="section-odd">{{unit.unit.bs}}</td>
                <td class="section-even">{{unit.unit.s}}</td>
                <td class="section-odd">{{unit.unit.t}}</td>
                <td class="section-even">{{unit.unit.w}}</td>
                <td class="section-odd">{{unit.unit.a}}</td>
                <td class="section-even">{{unit.unit.ld}}</td>
                <td class="section-odd">{{unit.unit.sv}}</td>
                <td class="section-even">{{unit.unit.max_units}}</td>
                <td class="section-odd">{{unit.role}}</td>
                <td class="section-even">{{unit.weapon}}</td>
                <td class="section-odd">{{unit.unit.point_value}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="table-responseive">
        <table>
            <tr>
                <th scope="row" class="section-odd">Name</th>
                <td class="section-even">Range</td>
                <td class="section-odd">Type</td>
                <td class="section-even">S</td>
                <td class="section-odd">AP</td>
                <td class="section-even">D</td>
                <td class="section-odd">Abilities</td>
                <td class="section-even">Points</td>
            
            </tr>
            {% for unit in list_of_units %}
            <tr>
                <th scope="row" class="section-odd">{{unit.weapon}}</th>
                <td class="section-even">{{unit.weapon.weapon_range}}</td>
                <td class="section-odd">{{unit.weapon.weapon_type}}</td>
                <td class="section-even">{{unit.weapon.s}}</td>
                <td class="section-odd">{{unit.weapon.ap}}</td>
                <td class="section-even">{{unit.weapon.d}}</td>
                <td class="section-odd">{{unit.weapon.abilities}}</td>
                <td class="section-even">{{unit.weapon.pts}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <div class="guide_text">
        {{guide.guide_desc}}
    </div>
    </div>
    
    
    <div>
        <h3 class="comment_header">Comments</h3>
        {% for comment in list_of_comments %}
        <div class="comment">
            <h5 class="comment_author">{{ comment.author }}</h5>
            <hr>
            <div class="comment_content">
                {{ comment.content }}
            </div>
            <a class="comment_date">{{ comment.date_created }}</a>
        </div>
    </div>
    {% endfor %}
    <div id="app">
        <h4>Send a comment!</h4>
        <input v-model="guide_id" type="hidden">
        <textarea v-model="text"></textarea>
        <button v-on:click="makeComment">Submit Comment</button>
    </div>
    <script>
        axios.defaults.xsrfCookieName = 'csrftoken'
        axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN'
        let app = new Vue({
            el: '#app',
            data: {
                text: '',
                guide_id: '{{ guide.id }}'
            },
            methods: {
                makeComment: function(guide_id){
                    axios({
                        method: 'post',
                        url: '{% url "ktGuide:submit_comment" %}',
                        data: {
                            comment: this.text,
                            id: this.guide_id
                        },
                    }).then(response =>{
                        this.text = ''
                        window.location.reload()
                    })
                }
            }
        })
    </script>
</body>
</html>